#body{
    width: 75%;
    height: 100%;
}

#body::-webkit-scrollbar{
width: 5px;    

}


#side-nav{
    width: 25%;
    height: 100%;
}


#about{
    display: flex;
    justify-content: space-between;
    background-color: rgba(4, 111, 199, 0.384);
}

#about img{
    margin-left: 20px;
    border: 1px solid rgb(107, 58, 49);
}

.singer-info{
    margin-left: 30px;
}

.singer-name{
    font-size: xx-large;
    font-weight: 900;
}

.singer-country{
    font-size: large;
    margin-top: -30px;
}

.singer-about{
    font-style: italic;
}

.play-btn{
    font-size: larger;
    margin-right: 70px;
}

#more-song ul{
    padding: 0;
    margin-left: 0;
    text-align: center;

}


.song-li{
    font-size: larger;
    border: 1px solid tomato;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    margin-top:8px;
}

.list img{
    margin-top: 9px;
    border: 1px solid gainsboro;
}

.list span{
    position: relative;
    top:-18px;
    left:3px;


}

.fav-icon{
    position: relative;
    margin-top: -87px;
    margin-right: 42px;
    color: rgb(6, 189, 235);
} 

.fav-icon .far{
    margin-right: 73px;
}

@media only screen and (max-width:600px){
    #about {
         display: block; 
    }

    #about img{
        height: 200px;
        width: 100px;
    }
    .singer-info {
        margin-left: 8px;
    }

    #side-heading h1{
        font-size: larger;
    }

    #side-nav {
        width: 35%;
        height: 100%;
    }

    .song-li {
        font-size: small;
    }

    .list span:nth-child(1){
        display: none;
    }

    .fav-icon {
        margin-top: -55px;
    }

}